<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-134Z8CJTFW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-134Z8CJTFW');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>{% block title%}{% endblock title%} | itsmeshubhajit</title>
    {% comment %} <base href="https://www.itsmeshubhajit.online/"> {% endcomment %}
    <meta name="description" content="Web solution for Saas founders, Web development, Web design, SEO, Social media optimisation">
    <meta name="keywords" content="web development, web design, seo, ecommerce, leads generation, social media optimisation, ranking">
    <meta name="author" content="Shubhajit Chowdhury">
    <meta name="og:url" content="https://{{request.META.HTTP_HOST}}{{request.PATH}}">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{% block og-caption%} itsmeshubhajit{% endblock og-caption%}">
    <meta name="og:description" content="Web solution for Saas founders, Web development, Web design, SEO, Social media optimisation">
    <meta name="og:image" content="https://{{request.META.HTTP_HOST}}{% static 'img/photo/og-image.jpg'%}">
    <meta name="og:twitter" content="https://{{request.META.HTTP_HOST}}{% static 'img/photo/og-twitter.png'%}">
    <!-- bootstrap grid css -->
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-grid.css'%}">
    <!-- font awesome css -->
    <link rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css'%}">
    <!-- swiper css -->
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css'%}">
    <!-- fancybox css -->
    <link rel="stylesheet" href="{% static 'css/plugins/fancybox.min.css'%}">
    <!-- scss -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- page name -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/icons/favicon.png'%}" alt="itsmeshubhajit">
{% if testimonials%}
    <style>
        {% for testimonial in testimonials %}
        .mil-revi-pagination .swiper-pagination-bullet .mil-custom-dot.mil-slide-{{ testimonial.id }} {
            background-image: url('{{ testimonial.client_photo.url }}');
        }
        {% endfor %}
    </style>
{% endif %}
</head>

<body>

    <!-- wrapper -->
{% block content%}

{% endblock content %}
    <!-- wrapper end -->

    <!-- jQuery js -->
    <script src="{% static 'js/plugins/jquery.min.js'%}"></script>
    <!-- swup js -->
    <script src="{% static 'js/plugins/swup.min.js'%}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/plugins/swiper.min.js'%}"></script>
    <!-- fancybox js -->
    <script src="{% static 'js/plugins/fancybox.min.js'%}"></script>
    <!-- gsap js -->
    <script src="{% static 'js/plugins/gsap.min.js'%}"></script>
    <!-- scroll smoother -->
    <script src="{% static 'js/plugins/smooth-scroll.js'%}"></script>
    <!-- scroll trigger js -->
    <script src="{% static 'js/plugins/ScrollTrigger.min.js'%}"></script>
    <!-- scroll to js -->
    <script src="{% static 'js/plugins/ScrollTo.min.js'%}"></script>
    <!-- ashley js -->
    <script src="{% static 'js/main.js'%}"></script>
    <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"d841f6e30e3eab3abc90356d84f8f96c"})});</script>

</body>
</html>
