{% extends "base.html"%}
{% load static %}
{% block title%} Services{% endblock title%}

{% block content%}
<div class="mil-wrapper" id="top">

    <!-- cursor -->
    <div class="mil-ball">
        <span class="mil-icon-1">
            <svg viewBox="0 0 128 128">
                <path d="M106.1,41.9c-1.2-1.2-3.1-1.2-4.2,0c-1.2,1.2-1.2,3.1,0,4.2L116.8,61H11.2l14.9-14.9c1.2-1.2,1.2-3.1,0-4.2	c-1.2-1.2-3.1-1.2-4.2,0l-20,20c-1.2,1.2-1.2,3.1,0,4.2l20,20c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2	L11.2,67h105.5l-14.9,14.9c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9l20-20c1.2-1.2,1.2-3.1,0-4.2L106.1,41.9	z" />
            </svg>
        </span>
        <div class="mil-more-text">More</div>
        <div class="mil-choose-text">Сhoose</div>
    </div>
    <!-- cursor end -->

    <!-- scrollbar progress -->
    <div class="mil-progress-track">
        <div class="mil-progress"></div>
    </div>
    <!-- scrollbar progress end -->

    <!-- menu -->
    <div class="mil-menu-frame">
        <!-- frame clone -->
        <div class="mil-frame-top">
            <a href="{% url 'home'%}" class="mil-logo">S.</a>
            <div class="mil-menu-btn">
                <span></span>
            </div>
        </div>
        <!-- frame clone end -->
        <div class="container">
            <div class="mil-menu-content">
                <div class="row">
                    <div class="col-xl-5">

                        <nav class="mil-main-menu" id="swupMenu">
                            <ul>
                                <li class="mil-has-children">
                                    <a href="{% url 'home'%}">Homepage</a>
                                </li>
                                <li class="mil-has-children">
                                    <a href="{% url 'portfolio'%}">Portfolio</a>
                                </li>
                                <li class="mil-has-children  mil-active">
                                    <a href="{% url 'services'%}">Services</a>
                                </li>
                                <li class="mil-has-children">
                                    <a href="{% url 'contact'%}">Contact me</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu -->

    <!-- curtain -->
    <div class="mil-curtain"></div>
    <!-- curtain end -->

    <!-- frame -->
    <div class="mil-frame">
        <div class="mil-frame-top">
            <a href="{% url 'home'%}" class="mil-logo">S.</a>
            <div class="mil-menu-btn">
                <span></span>
            </div>
        </div>
        <div class="mil-frame-bottom">
            <div class="mil-current-page"></div>
            <div class="mil-back-to-top">
                <a href="#top" class="mil-link mil-dark mil-arrow-place">
                    <span>Back to top</span>
                </a>
            </div>
        </div>
    </div>
    <!-- frame end -->

    <!-- content -->
    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">

            <!-- banner -->
            <div class="mil-dark-bg">
                <div class="mil-inner-banner">
                    <div class="mi-invert-fix">
                        <div class="mil-banner-content mil-up">
                            <div class="mil-animation-frame">
                                <div class="mil-animation mil-position-4 mil-scale" data-value-1="6" data-value-2="1.4"></div>
                            </div>
                            <div class="container">
                                <ul class="mil-breadcrumbs mil-light mil-mb-60">
                                    <li><a href="{% url 'home'%}">Homepage</a></li>
                                    <li><a href="#">Services</a></li>
                                </ul>
                                <h1 class="mil-muted mil-mb-60">This is <span class="mil-thin">what</span><br> I do <span class="mil-thin">best ✨</span></h1>
                                <a href="#services" class="mil-link mil-accent mil-arrow-place mil-down-arrow">
                                    <span>My services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- services -->
                <section id="services">
                    <div class="mi-invert-fix">
                        <div class="container mil-p-120-60">
                            <div class="row">
                                <div class="col-lg-5">

                                    <div style="max-height: 120px;" class="mil-lines-place mil-light"></div>

                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <a href="/web-dev/" class="mil-service-card-lg mil-more mil-accent-cursor">
                                                <h4 class="mil-muted mil-up mil-mb-30">Website Design <br>and Development</h4>
                                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Crafting Websites That Captivate, Convert, and Inspire Success</p>
                                                <ul class="mil-service-list mil-light mil-mb-30">
                                                    <li class="mil-up">User-Centric Design</li>
                                                    <li class="mil-up">Responsive Development</li>
                                                    <li class="mil-up">Seamless Integration</li>
                                                    <li class="mil-up">User Experience Optimization</li>
                                                </ul>
                                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                    <span>Read more</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <a href="/custom-development/" class="mil-service-card-lg mil-more mil-accent-cursor">
                                                <h4 class="mil-muted mil-up mil-mb-30">Creative Consulting <br>Concept Development</h4>
                                                <p class="mil-descr mil-light-soft mil-up mil-mb-30">Empowering Your Vision with Tailored, Innovative Solutions</p>
                                                <ul class="mil-service-list mil-light mil-mb-30">
                                                    <li class="mil-up">Innovative Solutions</li>
                                                    <li class="mil-up">Strategic Planning</li>
                                                    <li class="mil-up">Customized Development</li>
                                                    <li class="mil-up">Scalable Solutions</li>
                                                </ul>
                                                <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                    <span>Read more</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div  style="margin-top: 3rem;" id="container">
                                    <h1 class="mil-muted mil-mb-60"><span class="mil-thin">My </span>Tech Stack ⚛ </h1>
                                    <div class="container">
            
                                        <div class="swiper-container mil-infinite-show mil-up">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame"><img src="{% static 'img/partners/python-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame" ><img src="{% static 'img/partners/html-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;"class="mil-partner-frame" ><img src="{% static 'img/partners/css-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame" ><img src="{% static 'img/partners/javascript-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame" ><img src="{% static 'img/partners/django-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame" ><img src="{% static 'img/partners/aws-logo.svg'%}" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." style="width:60%;" class="mil-partner-frame" ><img src="{% static 'img/partners/figma-logo.svg'%}" alt="logo"></a>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- services end -->


            <!-- about -->
            <section id="about">
                    <div class="container mil-p-120-30">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6 col-xl-5">

                                <div class="mil-mb-90">
                                    <h2 class="mil-up mil-mb-60">🎖️ Why should<br> you <span class="mil-thin">Choose me</span></h2>

                                    <div class="d-flex">
                                    <h3>🥇</h3>
                                    <p class="mil-dark mil-mb-30">Unlike others, I prioritize understanding your business and goals before starting projects.</p>
                                    </div>

                                    <div class="d-flex">
                                    <h3>🥈</h3>
                                    <p class="mil-dark mil-mb-30">I prioritize delivering results by crafting websites that effectively sell to your target audience.</p>
                                    </div>

                                    <div class="d-flex">
                                    <h3>🥉</h3>
                                    <p class="mil-dark mil-mb-60">I believe in building a personal connection, turning clients into friends for long-term collaboration.</p>
                                    </div>

                                    <div class="mil-about-quote">
                                        <div class="mil-avatar mil-up">
                                            <img src="{% static 'img/faces/profile-pic.png'%}" alt="Founder">
                                        </div>
                                        <h6 class="mil-quote mil-up">Crafting Design<span class="mil-thin"> Masterpieces:</span><br> Unleashing <span class="mil-thin">Limitless Creativity</span></h6>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="mil-about-photo mil-mb-90">
                                    <div class="mil-lines-place"></div>
                                    <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                                        <img src="{% static 'img/photo/myimg.jpg'%}" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

            </section>
            <!-- about end -->

                        <!-- services -->
                        <section class="mil-dark-bg">
                            <div class="mi-invert-fix">
                                <div class="mil-animation-frame">
                                    <div class="mil-animation mil-position-1 mil-scale" data-value-1="2.4" data-value-2="1.4" style="top: 300px; right: -100px"></div>
                                    <div class="mil-animation mil-position-2 mil-scale" data-value-1="2" data-value-2="1" style="left: 150px"></div>
                                </div>
                                <div class="container mil-p-120-0">
        
                                    <div class="mil-mb-120">
                                        <div class="row">
                                            <div class="col-lg-10">
        
                                                <span class="mil-suptitle mil-light-soft mil-suptitle-right mil-up">Focused on helping your brand<br> grow and move forward.</span>
        
                                            </div>
                                        </div>
        
                                        <div class="mil-complex-text justify-content-center mil-up mil-mb-15">
        
                                            <span class="mil-text-image"><img src="{% static 'img/photo/2.jpg'%}" alt="team"></span>
                                            <h2 class="mil-h1 mil-muted mil-center">Working <span class="mil-thin">Process</span></h2>
        
                                        </div>
                                        <div class="mil-complex-text justify-content-center mil-up">
        
                                            <h2 class="mil-h1 mil-muted mil-center">For Your <span class="mil-thin">Business.</span></h2>
        
                                        </div>
                                    </div>
        
                                    <div class="row mil-services-grid m-0">
                                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
        
                                            <a href="#" class="mil-service-card-sm mil-up">
                                                <h5 class="mil-muted mil-mb-30">1. Consultation
                                                </h5>
                                                <p class="mil-light-soft mil-mb-30">We'll engage in numerous consultation calls to delve into your business needs.</p>
                                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                            </a>
        
                                        </div>
                                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
        
                                            <a href="#" class="mil-service-card-sm mil-up">
                                                <h5 class="mil-muted mil-mb-30">2. Strategy</h5>
                                                <p class="mil-light-soft mil-mb-30">I'll craft a growth and website strategy, explaining it for your confirmation.</p>
                                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                            </a>
        
                                        </div>
                                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
        
                                            <a href="#" class="mil-service-card-sm mil-up">
                                                <h5 class="mil-muted mil-mb-30">3. Design</h5>
                                                <p class="mil-light-soft mil-mb-30">I'll create your dream website, and make sure that it aligns with your vision.</p>
                                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                            </a>
        
                                        </div>
                                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
        
                                            <a href="#" class="mil-service-card-sm mil-up">
                                                <h5 class="mil-muted mil-mb-30">4. Development</h5>
                                                <p class="mil-light-soft mil-mb-30">Once your design is finalized, I will start building it on a suitable platform.</p>
                                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                            </a>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- services end -->
                                <!-- reviews -->
                                <section class="mil-soft-bg">
                                    <div class="container mil-p-120-120">
                
                                        <h2 class="mil-center mil-up mil-mb-60">Customer <span class="mil-thin">Voices:</span> <br>Hear What <span class="mil-thin">They Say!</span></h2>
                                        
                                        <div class="mil-revi-pagination mil-up mil-mb-60"></div>
                                       
                                        <div class="row mil-relative justify-content-center">
                                            <div class="col-lg-8">
                
                                                <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
                                                    <div class="mil-slider-arrow mil-prev mil-revi-prev mil-arrow-place"></div>
                                                    <div class="mil-slider-arrow mil-revi-next mil-arrow-place"></div>
                                                </div>
                
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="mil-quote-icon mil-up">
                                                    <path d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 1 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 13.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.943359 37.107422 30.943359 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z" fill="#000000" />
                                                </svg>
                                                <div class="swiper-container mil-reviews-slider">
                                                    <div class="swiper-wrapper">
                                                        {% for testimonial in testimonials%}
                                                        <div class="swiper-slide">
                                                            <div class="mil-review-frame mil-center" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
                                                                <h5 class="mil-up mil-mb-10">{{testimonial.client_name}}</h5>
                                                                <p class="mil-mb-5 mil-upper mil-up mil-mb-30">{{testimonial.project_name}}</p>
                                                                <p class="mil-text-xl mil-up">{{testimonial.project_review}}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                
                                            </div>
                                        </div>
                
                                    </div>
                                </section>
                                <!-- reviews end -->
                
                                <!-- partners -->
                                <div class="mil-soft-bg">
                                    <div class="container mil-p-0-120">
                
                                        <div class="swiper-container mil-infinite-show mil-up">
                                            <div class="swiper-wrapper">

                                            {%for technology in technologies%}
                                                <div class="swiper-slide">
                                                    <a href="#." class="mil-partner-frame" style="width: 60px;"><img src="{{technology.technology_photo.url}}" alt="logo"></a>
                                                </div>
                                            {% endfor %}
                                                {% comment %} <div class="swiper-slide">
                                                    <a href="#." class="mil-partner-frame" style="width: 100px;"><img src="img/partners/2.svg" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." class="mil-partner-frame" style="width: 60px;"><img src="img/partners/1.svg" alt="logo"></a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#." class="mil-partner-frame" style="width: 100px;"><img src="img/partners/2.svg" alt="logo"></a>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                                <!-- partners end -->

                                
            <!-- call to action -->
            <section class="mil-soft-bg">
                <div class="container mil-p-120-120">
                    <div class="row">
                        <div class="col-lg-10">

                            <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                        </div>
                    </div>
                    <div class="mil-center">
                        <h2 class="mil-up mil-mb-60">Let’s make an <span class="mil-thin">impact</span><br> together.<span class="mil-thin"> when you are </span> Ready.</h2>
                        <div class="mil-up"><a href="{% url 'contact'%}" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                    </div>
                </div>
            </section>
            <!-- call to action end -->

            <!-- footer -->
            {% include 'footer.html'%}
            <!-- footer end -->


        </div>
    </div>
    <!-- content -->

</div>
{% endblock content%}