{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="mil-wrapper" id="top">

    <!-- cursor -->
    <div class="mil-ball">
        <span class="mil-icon-1">
            <svg viewBox="0 0 128 128">
                <path d="M106.1,41.9c-1.2-1.2-3.1-1.2-4.2,0c-1.2,1.2-1.2,3.1,0,4.2L116.8,61H11.2l14.9-14.9c1.2-1.2,1.2-3.1,0-4.2	c-1.2-1.2-3.1-1.2-4.2,0l-20,20c-1.2,1.2-1.2,3.1,0,4.2l20,20c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2	L11.2,67h105.5l-14.9,14.9c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9l20-20c1.2-1.2,1.2-3.1,0-4.2L106.1,41.9	z" />
            </svg>
        </span>
        <div class="mil-more-text">More</div>
        <div class="mil-choose-text">Choose</div>
    </div>
    <!-- cursor end -->

    <!-- preloader -->
    {% comment %} <div class="mil-preloader">
        <div class="mil-preloader-animation">
            <div class="mil-pos-abs mil-animation-1">
                <p class="mil-h3 mil-muted mil-thin">Pioneering</p>
                <p class="mil-h3 mil-muted">Creative</p>
                <p class="mil-h3 mil-muted mil-thin">Excellence</p>
            </div>
            <div class="mil-pos-abs mil-animation-2">
                <div class="mil-reveal-frame">
                    <p class="mil-reveal-box"></p>
                    <p class="mil-h3 mil-muted mil-thin">ashley.com</p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- preloader end -->

    <!-- scrollbar progress -->
    <div class="mil-progress-track">
        <div class="mil-progress"></div>
    </div>
    <!-- scrollbar progress end -->

    <!-- menu -->
    <div class="mil-menu-frame">
        <!-- frame clone -->
        <div class="mil-frame-top">
            <a href="{% url 'home'%}" class="mil-logo">S.</a>
            <div class="mil-menu-btn">
                <span></span>
            </div>
        </div>
        <!-- frame clone end -->
        <div class="container">
            <div class="mil-menu-content">
                <div class="row">
                    <div class="col-xl-5">
                        <nav class="mil-main-menu" id="swupMenu">
                            <ul>
                                <li class="mil-has-children">
                                    <a href="{% url 'home'%}">Homepage</a>
                                </li>
                                <li class="mil-has-children">
                                    <a href="{% url 'portfolio'%}">Portfolio</a>
                                </li>
                                <li class="mil-has-children mil-active">
                                    <a href="{% url 'services'%}">Services</a>
                                </li>
                                <li class="mil-has-children">
                                    <a href="{% url 'contact'%}">Contact me</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu -->

    <!-- curtain -->
    <div class="mil-curtain"></div>
    <!-- curtain end -->

    <!-- frame -->
    <div class="mil-frame">
        <div class="mil-frame-top">
            <a href="{% url 'home'%}" class="mil-logo">S.</a>
            <div class="mil-menu-btn">
                <span></span>
            </div>
        </div>
        <div class="mil-frame-bottom">
            <div class="mil-current-page"></div>
            <div class="mil-back-to-top">
                <a href="#top" class="mil-link mil-dark mil-arrow-place">
                    <span>Back to top</span>
                </a>
            </div>
        </div>
    </div>
    <!-- frame end -->

    <!-- content -->
    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">

            <!-- banner -->
            <div class="mil-inner-banner">
                <div class="mil-animation-frame">
                    <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                </div>
                <div class="mil-banner-content mil-up">
                    <div class="container">
                        <ul class="mil-breadcrumbs mil-mb-60">
                            <li><a href="{% url 'home'%}">Homepage</a></li>
                            <li><a href="{% url 'services'%}">Services</a></li>
                            <li><a href="#.">Service</a></li>
                        </ul>
                        <h1 class="mil-mb-60">Website <span class="mil-thin">Design</span><br> and <span class="mil-thin">Development</span></h1>
                        <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                            <span>About service</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- banner end -->

            <!-- service -->
            <section id="service">
                <div class="container mil-p-120-90">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 mil-relative mil-mb-90">

                            <h4 class="mil-up mil-mb-30">My <span class="mil-thin">Approach</span> <br>and <span class="mil-thin">Work Specifics</span></h4>
                            <p class="mil-up mil-mb-30">I have a unique approach to web design and development. We believe in creating websites that not only look great but also perform well in terms of user experience, functionality, and search engine optimization. &nbsp<span class="mil-dark" style="font-size:20px;">📈</span></p>
                            <div class="mil-up">
                                <a href="{% url 'portfolio'%}" class="mil-link mil-dark mil-arrow-place">
                                    <span>View works</span>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="mil-accordion-group mil-up">
                                <div class="mil-accordion-menu">

                                    <p class="mil-accordion-head">User-Centric Design</p>

                                    <div class="mil-symbol mil-h3">
                                        <div class="mil-plus">+</div>
                                        <div class="mil-minus">-</div>
                                    </div>

                                </div>
                                <div class="mil-accordion-content">
                                    <p class="mil-mb-30">User-Centric Design prioritizes users' needs and preferences by involving them in the design process. It emphasizes simplicity, consistency, and accessibility to create intuitive and engaging products. By understanding user behaviors through research and testing, organizations can increase satisfaction, loyalty, and efficiency. User-Centric Design leads to solutions that align closely with user expectations, resulting in greater success and user satisfaction.</p>
                                </div>
                            </div>

                            <div class="mil-accordion-group mil-up">
                                <div class="mil-accordion-menu">

                                    <p class="mil-accordion-head">Responsive Development</p>

                                    <div class="mil-symbol mil-h3">
                                        <div class="mil-plus">+</div>
                                        <div class="mil-minus">-</div>
                                    </div>

                                </div>
                                <div class="mil-accordion-content">
                                    <p class="mil-mb-30">Responsive Development involves creating websites and applications that adapt to various devices and screen sizes, ensuring optimal user experience across desktops, tablets, and mobile devices. It employs techniques like fluid grids, flexible images, and media queries to adjust layout and content dynamically. By prioritizing responsiveness, developers enhance accessibility and usability, ultimately improving user engagement and satisfaction.</p>
                                </div>
                            </div>

                            <div class="mil-accordion-group mil-up">
                                <div class="mil-accordion-menu">

                                    <p class="mil-accordion-head">Seamless Integration</p>

                                    <div class="mil-symbol mil-h3">
                                        <div class="mil-plus">+</div>
                                        <div class="mil-minus">-</div>
                                    </div>

                                </div>
                                <div class="mil-accordion-content">
                                    <p class="mil-mb-30">Seamless Integration refers to the smooth incorporation of different systems, software, or components to function as a unified whole. It ensures compatibility, interoperability, and ease of use across various platforms. Through seamless integration, users experience uninterrupted workflows and interactions, leading to enhanced productivity and satisfaction. Organizations benefit from streamlined processes and improved efficiency.</p>
                                </div>
                            </div>

                            <div class="mil-accordion-group mil-up">
                                <div class="mil-accordion-menu">

                                    <p class="mil-accordion-head">User Experience Optimization</p>

                                    <div class="mil-symbol mil-h3">
                                        <div class="mil-plus">+</div>
                                        <div class="mil-minus">-</div>
                                    </div>

                                </div>
                                <div class="mil-accordion-content">
                                    <p class="mil-mb-30">User Experience Optimization involves refining digital interfaces to enhance usability and satisfaction. It integrates user feedback, analytics, and best practices to improve navigation, accessibility, and overall engagement. By prioritizing user needs and preferences, organizations can optimize conversions and loyalty. User Experience Optimization fosters meaningful interactions, resulting in improved brand perception and customer retention.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service end -->

            <!-- prices -->
            <section class="mil-dark-bg">
                <div class="mi-invert-fix">
                    <div class="container mil-p-120-120">
                        <div class="mil-center">
                            <h2 class="mil-muted mil-up mil-mb-30">Reasonable <span class="mil-thin">prices</span> <br>for website <span class="mil-thin">development</span></h2>

                            <p class="mil-light-soft mil-up mil-mb-120">I have a unique approach to web design and development. <br>I believe in creating in terms of user experience, functionality.</p>
                        </div>

                        <a href="/contact/" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                            <div class="row align-items-center">
                                <div class="col-lg-2">
                                    <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">199</span></div>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="mil-muted mil-mb-30">Starter Design<br> and Development Pack</h5>
                                </div>
                                <div class="col-lg-4">
                                    <p class="mil-light-soft mil-mb-30">Starter Design and Development Pack! Includes basic logo, premium template, basic SEO, premium theme, content upload, stock images, up to 4 pages, 1 revision, 2 consultation calls. Ready to elevate your online presence? &nbsp<span class="mil-dark" style="font-size:20px;">💻</span></p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-adaptive-right mil-mb-30">
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/contact/" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                            <div class="row align-items-center">
                                <div class="col-lg-2">
                                    <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">399</span></div>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="mil-muted mil-mb-30">Advance Design <br> and Development Pack</h5>
                                </div>
                                <div class="col-lg-4">
                                    <p class="mil-light-soft mil-mb-30">Advanced Design and Development Pack! Elevate your online presence with premium features: premium logo, custom design, brand font/colors, conversion copywriting, wireframes design, advanced SEO, sales funnel, user journey map, up to 10 pages, 4 revisions, 8 consultation calls, VIP tech training & support, analytics setup, personalized strategy & advice, plus 3 months free maintenance. Ready to take your website to the next level? Let's make it happen! &nbsp<span class="mil-dark" style="font-size:20px;">💼✨</span></p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-adaptive-right mil-mb-30">
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/contact/" class="mil-price-card mil-choose mil-accent-cursor mil-up mil-mb-60">
                            <div class="row align-items-center">
                                <div class="col-lg-2">
                                    <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">49</span></div>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="mil-muted mil-mb-30">Website Security<br> and Maintenance</h5>
                                </div>
                                <div class="col-lg-4">
                                    <p class="mil-light-soft mil-mb-30"> <span class="mil-dark" style="font-size:20px;">🛠️</span> &nbspKeep your website running smoothly with our Website Maintenance & Security Check service! Get 1 month of expert maintenance and security checks to ensure your site stays secure and up-to-date. Peace of mind guaranteed! &nbsp&nbsp<span class="mil-dark" style="font-size:20px;">💻🔒</span> </p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-adaptive-right mil-mb-30">
                                        <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="mil-center">
                            <a href="/contact/" class="mil-button  mil-arrow-place">
                                <span>individual solution</span>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <!-- prices end -->

            <!-- other services -->
            <section>
                <div class="container mil-p-120-90">
                    <div class="row align-items-center mil-mb-30">
                        <div class="col-lg-6 mil-mb-30">
                            <h3 class="mil-up">Other services</h3>
                        </div>
                        <div class="col-lg-6 mil-mb-30">
                            <div class="mil-adaptive-right mil-up">
                                <a href="/services/" class="mil-link mil-dark mil-arrow-place">
                                    <span>View all</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% comment %} <div class="col-lg-4">

                            <a href="/graphics-brand-designing/" class="mil-service-card-lg mil-card-tag-set mil-other-card mil-more mil-mb-30">
                                <h4 class="mil-up mil-mb-30 ">Branding and <br>Graphics Design</h4>
                                <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-dark mil-mb-30">
                                    <li class="mil-up">UX Audits</li>
                                    <li class="mil-up">Design thinking</li>
                                    <li class="mil-up">Methodologies</li>
                                    <li class="mil-up">Wireframing</li>
                                </ul>
                                <div class="mil-link mil-dark mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4">

                            <a href="/advertisement-marketing/" class="mil-service-card-lg mil-card-tag-set mil-other-card mil-more mil-mb-30">
                                <h4 class="mil-up mil-mb-30 ">Advertising and<br>Marketing Campaigns</h4>
                                <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-dark mil-mb-30">
                                    <li class="mil-up">Targeted Strategies</li>
                                    <li class="mil-up">Data-Driven Decisions</li>
                                    <li class="mil-up">Compelling Content</li>
                                    <li class="mil-up">Multi-Channel Approach</li>
                                </ul>
                                <div class="mil-link mil-dark mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>

                        </div> {% endcomment %}
                        <div class="col-lg-4">

                            <a href="/custom-development/" class="mil-service-card-lg mil-card-tag-set mil-other-card mil-more mil-mb-30">
                                <h4 class="mil-up mil-mb-30 ">Creative Consulting<br>Concept Development</h4>
                                <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                <ul class="mil-service-list mil-dark mil-mb-30">
                                    <li class="mil-up">Innovative Solutions</li>
                                    <li class="mil-up">Strategic Planning</li>
                                    <li class="mil-up">Customized Development</li>
                                    <li class="mil-up">Scalable Solution</li>
                                </ul>
                                <div class="mil-link mil-dark mil-arrow-place mil-up">
                                    <span>Read more</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </section>
            <!-- other services end -->

            <!-- footer -->
        {% include 'footer.html'%}
            <!-- footer end -->

        </div>
    </div>
    <!-- content -->
</div>
{% endblock %}